/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Get rid of Chrome autofill form changes */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: var(--dark-gray);
  border: 2px solid var(--orange);
  -webkit-text-fill-color: var(--white);
  transition: background-color 5000s ease-in-out 0s;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ^----------- RESET */

/* 
  TABLE OF CONTENTS

    1. Root & Blocks
    2. Text
    3. Images
    4. Input (forms / buttons / links)

*/
/************* 
* 1. Blocks  *
*************/
:root {

  --white: #fffcf2;
  --orange: #eb5e28;
  --dark-gray: #252422;
  --gray: #403d39;
  --light-gray: #ccc5b9;
  --medium-gray: #bbb5b9;
  --background: #151414;

  --br: .5em;
}

#root {
  background-color: var(--background);
  height: 100%;
  width: 100%;
}

/* search form */
.form {
  display: grid;
}

.card-list:last-child {
  padding-bottom: 50px;
}

.swiper-container {
  margin-bottom: 35px;
  padding: 0 1rem;
}

.swiper-slide {
  cursor: default;
  filter: brightness(75%);
  height: auto;
  margin: 0 1.5rem 0 0;
  padding: 0;
  width: 12em;

  transform: scale(0.95);
  transition: 350ms;
}

.swiper-slide-active {
  filter: brightness(108%);
  transform: scale(1);
  transition: 250ms ease-in;
}

.full-page-grid .swiper-slide {
  margin: 0 1.5rem 35px 1.5rem;
  filter: brightness(100%);
  transform: scale(1);
}

.card {
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 12em;
}

.similar-genre-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-header {
  height: 60vh;
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.details-content {
  margin: 25px auto 0;
  padding-bottom: 50px;
  width: 90%;
}

.details-movie-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 300px;
  width: 100%;
}

.details-genre {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0;
  width: 90%;
}

.details-overview {
  margin: 25px 0 0
}

.details-cast-wrapper {
  margin: 25px 0 0 -5%;
  width: 110%;
}

.details-cast {
  display: flex;
  align-items: center;
}

.details-cast .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  margin-right: -2px;
  overflow-y: visible;
  padding: 15px;
  width: 150px;
}

.details-reviews-wrapper {
  margin: 25px 0 0 0;
}

.reviews-heading {
  display: flex;
  align-items: center;
}

.review-card {
  border-radius:  var(--br);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  box-sizing: border-box;
  height: auto;
  margin: 20px 0 0;
  position: relative;
  padding: 10px 20px 40px 10px;
}

.similar-section {
  margin: 20px 0 0;
}

.similar-wrapper {
  margin: 10px 0 0 -5%;
  width: 110%;
}

.genre-page, .similar-page {
  min-height: 100vh;
  width: 100%;
}

.full-page-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 95%;
  z-index: 1;
}

.load-btn-wrapper {
  width: 100%;
}

.actor-details-wrapper {
  background: var(--background);
  min-height: 100vh;
  height: 100%;
  padding-bottom: 50px;
}

.actor-header {
  height: 60vh;
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.actor-details {
  margin: 35px auto;
  width: 90%;
}

.more-movies-wrapper {
  margin: 10px 0 0;
}

.trailer-info-wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.video-wrapper {
  height: auto;
  width: 100%;
}

.card--front {
  transition: 250ms;

  .card--title {
    color: var(--orange);
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.75em 0 0.15em;
  }

  .movie-date {
    color: var(--light-gray);
    font-size: 0.8rem;
    font-weight: 600;
  }

  .card--thumbnail {
    border: none;
    border-radius: var(--br);  
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    height: 300px;
    width: 200px;
    min-width: 200px;
  }

}

.card--back {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  transform: translateY(35%);

  .card--back-stats {
    color: var(--white);
    columns: 2;
    column-rule: 1px solid rgba(255,255,255, 0.25);
    letter-spacing: 1px;
    margin: 0;
  }

  .movie-stats {
    font-size: 1.125rem;
    text-align: center;

    span {
      font-size: .8rem;
      display: block;
    }
  }

  .similar-btn {
    background: var(--orange);
    border: 2px solid var(--dark-gray);
    border-radius: 100vw;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.85);
       -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.85);
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.85);
    color: var(--light-gray);
    cursor: pointer;
    font-weight: 400;
    opacity: 0;
    padding: .5em 1.5em;
    text-decoration: none;
    transition: border-color 150ms ease-in;

    &:hover {
      border-color: var(--orange);
      color: var(--white);
    }
  }
}

.card--background {
  background: var(--dark-gray);
  border-radius: var(--br);
  -webkit-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.45);
     -moz-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.45);
          box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;

  transform: scale(.2, .9);
  
  .background-image {
    border-radius: var(--br);
    height: 50%;
    object-fit: cover;
    object-position: top center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    clip-path: url(#wave);
  }
}

/************* 
*  2. Text   *
*************/
.app-title,
.app-desc {
  text-align: center;
}

.app-title {
  color: var(--orange);
  font-size: 3rem;
  font-weight: 400;
  padding-top: 20px;
}

.app-desc {
  color: var(--light-gray);
  font-size: 0.8rem;
  font-style: italic;
  letter-spacing: 0.85px;
  margin: -10px 0 35px -3px;
  text-transform: uppercase;
}

.category-title, 
.category-title-large, 
.similar-movie-header {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin: 0 0 0.5rem 1rem;
}

.category-title-large, 
.similar-movie-header {
  box-sizing: border-box;
  font-size: 2.9rem;
  margin: 0 0 2rem 0;
}

.category-title-large {
  margin: 0 0 2rem 5%;
  padding-top: 3rem;
  text-align: center;
}

.similar-movie-header {
  padding: 3rem 2rem 0;
  text-align: center;
  width: 100%;
}

.details-title {
  color: var(--orange);
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0 0 0 2.5%;
  position: relative;
}

.details-tagline {
  color: var(--light-gray);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 0 10px 2.5%;
}

.basic-details, 
.details-rating {
  color: var(--light-gray);
}

.basic-details span {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.8px;
}

.details-rating {
  font-size: 1.25rem;
}

.details-subheads {
  color: var(--orange);
  font-size: 1.75rem;
  font-weight: 500;
}

.overview-text {
  color: var(--light-gray);
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 10px;
  width: clamp(300px, 100%, 65ch);
}

.details-cast-wrapper .details-subheads,
.more-movies-section .details-subheads {
  margin-left: 5%;
}

.details-actor {
  color: var(--light-gray);
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: center;
}

.num-reviews {
  color: var(--orange);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 3px 0 0 2px;
}

.review-author {
  color: var(--gray);
  margin: 10px;
  width: 100%;
}

.review {
  color: var(--white);
  font-size: 0.85rem;
  margin: 0 0 0 20px;
  width: clamp(29ch, 90%, 75ch);
}

.no-reviews-text, 
.no-similar-text {
  color: var(--white);
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.75px;
}

.no-similar-text {
  text-align: center;
}

.actor-info {
  color: var(--white);

  & p {
    letter-spacing: 1px;
    margin: 0 0 15px;
  }
  & .actor-bold {
    color: var(--medium-gray);
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.85px;
    margin: 0 0 -2px;
    text-transform: uppercase;
  }
}

.actor-info + .details-subheads {
  margin: 50px 0 0;
}

.actor-biography {
  color: var(--light-gray);
  line-height: 1.8rem;
  margin: 0 0 50px;
  width: clamp(45ch, 100%, 65ch);
}


/************* 
* 3. Images  *
*************/
.searchSVG {
  position: absolute;
  top: 9.5rem;
  left: 5%;
  stroke: var(--light-gray);
  stroke-width: 2px;
  width: 22px;
  z-index: 1;
}

.movie-backdrop {
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center;
  height: 90%;
  width: 100%;
  // Add fade to bottom of backdrop
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
          mask-image: linear-gradient(to bottom, rgb(48, 48, 48) 75%, rgba(0,0,0,0) 100%);
}

.cast-img {
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.7));
  height: 150px;
  object-fit: cover;
  object-position: center;
  width: 130px;
}

.actor-headshot {
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center;
  height: 90%;
  width: 100%;
  // Add fade to bottom of backdrop
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
          mask-image: linear-gradient(to bottom, rgb(48, 48, 48) 75%, rgba(0,0,0,0) 100%);
}

/*************
*  4. Input  *
*************/
.search-input {
  background-color: var(--dark-gray) !important;
  border: 2px solid var(--orange);
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  caret-color: var(--white);
  color: var(--light-gray);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin: 1rem auto;
  outline: none;
  padding: 10px 10px 10px 42px;
  position: relative;
  width: 95%;
}

.search-input:focus, 
.search-input:hover
.search-input:hover::-webkit-input-placeholder,
.search-input:hover::placeholder {
  color: var(--white);
  transition: 150ms ease-in;
}

.form:hover .searchSVG {
  stroke: var(--white);
  transition: 150ms ease-in;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.home-btn,
.alt-home-btn {
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 80px;
  width: 10%;
  max-width: 120px;
  z-index: 2;
  
  transition: background-color 100ms ease-in, 
              padding 250ms ease-in,
              top 250ms ease-in;
}

.home-btn {
  background-color: var(--background);
  position: absolute;
  top: 15px;
  left: 15px;
  
}

.alt-home-btn {
  background-color: var(--orange);
  position: absolute;
  top: 15px;
  right: 15px;
}

.genre-link {
  margin: 0 10px 5px 0;
  text-decoration: none;
}

.movie-genre-btn {
  background: var(--gray);
  border: none;
  border-radius: 15px;
  color: var(--white);
  cursor: pointer;
  font-size: clamp(12px, 2.5vw, 16px);
  font-weight: 500;
  padding: 5px 15px;
  width: 100%;

  transition: border-radius 250ms ease-in, 
              color 300ms ease-in;
}

.review-btn {
  background: transparent;
  border: 1px solid var(--background);
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  padding: 2px 10px 0px;
  position: absolute;
  bottom: 5px;
  right: 20px;
  transition: background-color 150ms ease-in,
              border 250ms ease-in;
}

.load-btn {
  background: var(--orange);
  border: 2px solid var(--dark-gray);
  border-radius: 100vw;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.85);
     -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.85);
          box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.85);
  color: var(--light-gray);
  cursor: pointer;
  display: block;
  font-weight: 600;
  height: 70px;
  letter-spacing: 0.85px;
  margin: 0 auto 50px auto;
  padding: .5em 1.5em;
  text-decoration: none;
  transition: 150ms ease-in;
  width: 200px;

  &:hover {
    border-color: var(--orange);
    color: var(--white);
  }
}

.details-cast .swiper-slide a {
  text-decoration: none;
}

.imdb-link {
  color: var(--orange);
  display: block;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0 2.5%;
  text-decoration: none;
  width: 100px;
}

/*************
*  5. Video  *
*************/

.trailer-video {
  min-height: 350px;
  // height: 35vh;
  margin: 35px auto 0;
  // min-width: 300px;
  // width: 90vw;
  height: 100%;
  width: 100%;
}



/*************
*  6. Extras *
*************/

@keyframes movieName {
  0% {
    text-align: left;
    opacity: 1;
  }

  20% {
    text-align: left;
    opacity: 0;
  }

  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    text-align: center;
    opacity: 1;
  }
}


@media only screen and (min-width: 510px) {
  .category-title-large {
    text-align: left;
  }

  .actor-headshot {
    position: absolute;
    top: 45px;
    left: 2.5%;
    object-fit: contain;
    // object-position: top center;
    // height: 450px;
    max-height: 450px;
    // width: 350px;
    max-width: 300px;
  }
}

@media only screen and (min-width: 800px) {

  .swiper-slide:hover {
    margin: 0 3em 0 2.5em;
    transition-delay: 1s;
    
    .card--front{
      transform: translateY(-15%) scale(.7);
      transition-delay: 1s;
  
      .card--title {
        animation: movieName 250ms forwards;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
        transition-delay: 1s;
        font-size: 1.5rem;
      }
  
      .card--stats {
        opacity: 0;
        transition-delay: 1s;
      }
    }
  
    .card--background {
      transition: 
        transform 200ms cubic-bezier(.21, 1.06, .81, 1.01),
        opacity 100ms linear;
      opacity: 1;
      transform: scale(1.2, .8);
      transition-delay: 1s;
    }
    
    .card--back {
      opacity: 1;
      transition: 
        transform 250ms ease, 
        opacity 150ms linear;
      transform: translateY(0);
      transition-delay: 1s;
  
      .similar-btn {
        opacity: 1;
        transition: opacity 500ms cubic-bezier(.43,.37,.57,1.05);
      }
    }
  }

  .no-hover-slide:hover {
    margin: 0 -2px 0 0;

    .details-actor {
      color: var(--white);
    }
  }

  .form svg {
    left: 3.5%;
  }

  .home-btn,
  .alt-home-btn {
    outline: none;
  }

  .home-btn:focus,
  .home-btn:hover {
    background-color: var(--orange);
    padding: 15px;
    top: 10px;
    left: 15px;
  }

  .alt-home-btn:focus,
  .alt-home-btn:hover {
    background-color: var(--gray);
    padding: 15px;
    top: 10px;
    right: 15px;
  }

  .movie-genre-btn:hover {
    border-radius: 2px;
    color: var(--background);
  }

  .review-btn:focus,
  .review-btn:hover {
    border: 1px solid var(--orange);
    background: var(--dark-gray);
  }

  .trailer-info-wrapper {
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
  }

  .video-wrapper {
    width: 70%;
  }

  .trailer-video {
    // min-height: 350px;
    // height: 35vh;
    margin: 0 2.5% 0 -2.5%;
    // min-width: 450px;
    height: 100%;
    width: 100%;
    max-width: 675px;
  }
}





